<!-- <label for="" class="my-1">{{title}}</label>
<select class="form-control" (change)="detectChanges($event)">
  <option value="all" selected>All</option>

  <option value="{{ option }}" *ngFor="let option of data">
    {{ option }}
  </option>
</select> -->

<div class="header">
  <div class="title">{{title}}</div>

  <select class="form-control" (change)="detectChanges($event)">
    <option value="all" selected>All</option>


    <ng-template ngFor let-item [ngForOf]="data" let-i="index">
      <option value="{{ data[i] }}" >
        {{ data[i] }}
      </option>
    </ng-template>


  </select>
</div>
