<div class="row " data-aos="fade-up" style=" width: 98vw; margin: auto; margin-top: 15vh;">
  <div class="col-lg-6 col-sm-12 text-end" >
    <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-fniae/embed/charts?id=640087df-b823-4a2e-8608-1a8c28177dc0&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
  </div>
  <div class="col-lg-6 col-sm-12 text-start" >
    <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-fniae/embed/charts?id=63fbcea2-a4b3-48eb-8640-f50cce804579&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>  </div>
  <div class="col-lg-6 col-sm-12 text-end" >
    <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-fniae/embed/charts?id=63fc7825-d57f-4bd5-8c8c-6ba177d6f674&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>  </div>
  <div class="col-lg-6 col-sm-12 text-start" >
    <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-fniae/embed/charts?id=63fc79c2-e364-4b0b-8a80-c2caee93d33e&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>  </div>
</div>

<router-outlet></router-outlet>
